@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --mainColor: #3a6cf4;
    --pageColor: #f0f0f0;
    --fontSize: 1.8em;
}

header {
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    z-index: 999;
    position: fixed;
}

.logo {
    color: var(--mainColor);
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
    color: var(--mainColor);
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap: 0px 35px;
}

nav ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #3a6cf6;
    font-weight: 500;
    font-size: 1.1em;

}

nav ul li a:hover {
    color: #601cfc;
}

/* main content */

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right,#131478 0% 1%, transparent 66%);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}


.main-container h2 {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
.main-container h2 span {
    font-size: 2.8em;
    color: var(--mainColor);
    font-weight: 700;
}

.main-container h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.main-container .main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
}

.main-btn:hover {
    transform: scale(1.1);
    background-color: #3a6cf457;
}

.main-icons {
    display: flex;
    gap: 0 38px;
    list-style: none;
    margin-top: 35px;
}

.main-icons i{
    font-size: 1.5em;
    color: white;
}

.main-icons li {
    transition-duration: 0.5s;
}

.main-icons li:hover {
    transform: scale(1.2);
}

.main-icons #ytb:hover i {
    color: #FF0931;
}

.main-icons #fcb:hover i {
    color: #1877F2;
}

.main-icons #twt:hover i {
    color: rgba(0, 0, 0, 0.712);
}

.main-icons #dsc:hover i{
    color: #566AF6;
}

/*section-2 service*/
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    color: var(--mainColor);
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px 25px;
}

.card {
    width: 21.25em;
    padding: 25px;
    box-shadow: 0 0 25px rgba(1, 1, 1, 15%);
    flex-shrink: 0;
    transition: all 0.6s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    width: 100%;
    text-align: center;
    color: var(--mainColor);
    font-size: 5em;
}

.info {
    text-align: center;
}

.info h3 {
    color: var(--mainColor);
    margin: 15px;    
    font-weight: 700;
    font-size: 1.2em;
}

/* section-3 projects*/
.porjects {
    background-image: linear-gradient(to top, #000000, #000040);
}

.project-card {
    background-color: white;
    padding: 1px;
    width: 23em;
    box-shadow: 0 0 2px white ;
    border-radius: 10px;
    min-height: 14em;
    overflow: hidden;
    transition: all 0.6s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image {
    text-align: center;
}

.project-image img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.project-info {
    color: black;
    padding: 1em;
}

.project-info p {
    text-transform: capitalize;
    margin: 15px;
    font-weight: 400;
    font-size: 0.9em;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.project-title p {
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1em;
}

.project-title .more-details{
    text-decoration: none;
    color: var(--mainColor);
    font-weight: 800;
    text-transform: uppercase;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000000;
}

.contact .info p {
    font-weight: 500;
    font-size: 1.3em;
}

.contact .card {
    width: 20em;
}

/*footer*/

.footer {
    background-color: 000004;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    background-color: #000004;
}

.footer-info {
    display: flex;
}

.footer-icons {
    font-size: 1.4em;
    margin-right: 3em;
    display: flex;
    gap: 0 25px;
    list-style: none;
}

.footer-icons li a{
    color: #bbbbbb;
}

.footer-info {
    color: #cacaca;
    text-transform: capitalize;
}

.footer-icons a:hover {
    color: #ffffff;
}

@media (max-width:767px){
    section{
        padding: 80px 20px;
    }
    /* header */
    header{
        padding: 8px 20px;
    }
    .logo {
        font-size: 1.5em;
    }
    nav ul {
        gap: 0 23px;
    }
    nav ul li a {
        font-size: 1em;
    }
    /* main content*/
    .main {
        padding: 180px 15px;
        flex-direction: column;
        background-image: linear-gradient(to right,#131478 0% 10%, transparent);
    }
    .main-container h2{
        font-size: 1.4em;
    }
    .main-container h3 {
        font-size: 1.8em;
    }

    /* services */
    .title {
        font-size: 1.8em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    /* footer */
    .footer {
        padding: 0.5em 0.5em;

    }
    .footer-info {
        font-size: 1em;
    }

    .footer-icons {
        font-size: 1em;
        margin-right: 20px;
    }
}

@media (max-width: 576px) {
    body {
      font-size: 14px;
    }
}

  @media (max-width:360px) {
    body {
        font-size: 12px;
    }
}

  @media (max-width:300px) {
    body {
        font-size: 10px;
    }
}